/*Fonts Used*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input, textarea, select{-webkit-appearance: none; -webkit-border-radius: 0;}
/* end reset */

/*preset*/
body{background:url(../images/404.png) repeat center top #0e0e0e; color:#fff; font:normal 24px/100% open sans; text-align:center; padding: 0; margin:0;overflow-x: hidden;}
a{ text-decoration:none; }
img{max-width: 100%; vertical-align: top; image-rendering:-webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}

/* Forms Presets */
::-webkit-input-placeholder {opacity: 1; color: inherit;}
::-moz-placeholder {opacity: 1; color: inherit;}
:-ms-input-placeholder {opacity: 1; color: inherit;}
:-moz-placeholder {opacity: 1; color: inherit;}

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}
.wrapper{width:980px; max-width:100%; margin:0 auto; padding: 0 12px 24px;}

.fourofour-logo{padding:8px; margin: 1% 0 0; position: relative; z-index: 2; background: #fff;}
.fourofour-logo img{width: 320px; max-width: 100%;}
.for-searching .entry-title{font-size:57px; line-height:100%;}
.for-searching .search-form {padding:0 10px;}
.for-searching .search-form label span{display:none;}
.for-searching .search-form input{display:block; margin:10px auto 30px; border:0;}
.for-searching .search-form input[type=search]{-webkit-border-radius:0;width:570px; height:53px; font-size:16px; color:#2a2a2a; padding-left:10px; max-width:100%; -webkit-appearance:none;}
.for-searching .search-form input[type=submit]:hover{background:#000; color: #fff;}
.for-searching .search-form input[type=submit]{width:206px; line-height:52px; font-size:20px; color:#fff; background:#333;border-radius:5px;margin-bottom:100px;cursor:pointer; -webkit-appearance:none;}
.fourOfour{font-size:280px;font-weight:bold;line-height:100%; margin-top: -40px;}
.wrongtext{line-height:35px;margin:25px 0 15px;}
.not-found{margin-top:25px;}
.product .entry-meta, .page .entry-meta{display:none;}

/*SEARCH*/
#search-result .entry-meta, #search-result h1{line-height:50px;padding: 0 10px;}
#search-result .entry-meta{font-size:18px;}
#search-result .page-title{font-size: 50px; font-weight: bold;}
#search-result .page-title, .search_results{margin-top:30px;display: block;border: 0;}
.search_results div.page, .search_results div.post,.search_results div.product{ padding:15px; border:1px solid #000; background:#ffffe1; margin:10px 0; color:#000;}
.search_results .entry-title{margin-bottom: 15px;}
.search_results h2 a{ text-decoration:none; font-size:25px;}
.search_results div.entry-meta{ font-style:italic; }
.search_results a{ color:#000; font-size: 14px; font-weight: 700;}
.search_results a:hover{ text-decoration:none; }
.search_results .entry-summary{font:normal 14px/24px verdana; color:#333;}

.pagination {float: right; margin: 20px 10px;}
.pagination a {background-color: #fff; padding: 5px 8px; margin: 0px 3px; color: #2c2c2c; }
.pagination a:hover {background-color: #ca3333;color: #fff;}
.current {background-color: #ca3333 !important; color: #fff !important; padding: 5px 8px; margin: 0px 3px;}

@media only screen
and (max-width : 568px) {
    #other-search, #search-result, #page-not-found{font-size:15px;padding:1% 0;}
    #search-result .page-title, .search_results{margin-top:15px;}
    #search-result .page-title{font-size: 37px; line-height: 100%;}
    .fourOfour{font-size:105px; margin-top: -10px;}
    .fourofour-logo{width: 100%; margin: auto; text-align: center; max-width: 100%;}
    .for-searching .entry-title{font-size:32px;}
    .wrongtext {line-height: 30px;margin: 15px 0;}
    .for-searching .search-form input[type=search]{height: 40px;margin-bottom:15px;}
    .for-searching .search-form input[type=submit]{line-height: 40px; margin-bottom: 50px;}
}

@media only screen
and (max-width : 320px) {
    #other-search, #search-result, #page-not-found{font-size:17px;padding:1% 0;}
    .fourOfour{font-size:145px;}
    .for-searching .entry-title{font-size:32px;}
    .wrongtext {line-height: 30px;margin: 15px 0;}
}

/*
* Dang IE 8
*/
.lt-ie8 .dang-ie{ width: 100%; height: 100%; background-color: #00abdd; padding:5% 0 2%;}
.message{ text-align: center; color: #fff; font-size: 20px;}
.inner-message{position: relative; text-align: center; margin: auto;line-height:28px;}
.new-line{display:block;}
.inner-message img{ position: relative;margin:1% 0 20px;border:0;}
.inner-message a.download{ display: block; width: 300px; padding: 10px; color: #fff; margin: 2em auto 1em; border: 1px solid #fff;}
.terms{ color: #fff; font-size: 13px; padding: 20px; text-align:right;}
.terms a{color: #fff; font-weight: bold;}
.lt-ie8 .protect-me{ display: none;}

/* clouds */
.cloud {width: 350px; height: 120px;background: #FFF;background: linear-gradient(top, #FFF 100%);background: -webkit-linear-gradient(top, #FFF 100%);background: -moz-linear-gradient(top, #FFF 100%);background: -ms-linear-gradient(top, #FFF 100%);background: -o-linear-gradient(top, #FFF 100%);
border-radius: 100px;-webkit-border-radius: 100px;-moz-border-radius: 100px;
position: absolute;margin: 120px auto 20px;z-index:-1;transition: ease 1s;}
.cloud:after, .cloud:before {content: '';position: absolute;background: #FFF;z-index: -1}
.cloud:after {width: 100px; height: 100px;top: -50px; left: 50px;border-radius: 100px;-webkit-border-radius: 100px;-moz-border-radius: 100px;}
.cloud:before {width: 180px; height: 180px;top: -90px; right: 50px;border-radius: 200px;-webkit-border-radius: 200px;-moz-border-radius: 200px;}
.x1 {top:-50px;left:100px;-webkit-transform: scale(0.3);-moz-transform: scale(0.3);transform: scale(0.3);opacity: 0.9;-webkit-animation: moveclouds 15s linear infinite;-moz-animation: moveclouds 15s linear infinite;-o-animation: moveclouds 15s linear infinite;}
.x1_5{top:-80px;left:250px;-webkit-transform: scale(0.3);-moz-transform: scale(0.3);transform: scale(0.3);-webkit-animation: moveclouds 17s linear infinite;-moz-animation: moveclouds 17s linear infinite;-o-animation: moveclouds 17s linear infinite;}
.x2 {left: 250px;top:30px;-webkit-transform: scale(0.6);-moz-transform: scale(0.6);transform: scale(0.6);opacity: 0.6;-webkit-animation: moveclouds 25s linear infinite;-moz-animation: moveclouds 25s linear infinite;-o-animation: moveclouds 25s linear infinite;}
.x3 {left: 250px; bottom: -70px;-webkit-transform: scale(0.6);-moz-transform: scale(0.6);transform: scale(0.6);opacity: 0.8;-webkit-animation: moveclouds 25s linear infinite;-moz-animation: moveclouds 25s linear infinite;-o-animation: moveclouds 25s linear infinite;}
.x4 {left: 470px; botttom: 20px;-webkit-transform: scale(0.75);-moz-transform: scale(0.75);transform: scale(0.75);opacity: 0.75;-webkit-animation: moveclouds 18s linear infinite;-moz-animation: moveclouds 18s linear infinite;-o-animation: moveclouds 18s linear infinite;}
.x5 {left: 200px; top: 300px;-webkit-transform: scale(0.5);-moz-transform: scale(0.5);transform: scale(0.5);opacity: 0.8;
-webkit-animation: moveclouds 20s linear infinite;-moz-animation: moveclouds 20s linear infinite;-o-animation: moveclouds 20s linear infinite;}

@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
