/* Large Tablet Devices */
@media only screen
and (max-width : 1280px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
  /*header*/
  header, #bottom2{padding-left:10px;padding-right:10px}
  nav.page_nav ul li a{padding: 0 8px !important;font-size: 18px;}

  .bnr_info{left: 10px}
  .bnr_box{width: calc(100% - 650px);text-align: right;width: 49.2%;}
  [class^="bnr_inner"]{width: 50%;}
  [class^="bnr_inner"] figure{overflow: hidden;}
  [class^="bnr_inner"] figure img{max-width: inherit;}

  [class^="bnr_inner"] a{padding: 81px 20px 0;}

  main{width: calc(100% - 502px);padding: 36px;}
  .sidebar{margin-right: -576px;}

  .btm1_con figure{margin-left: -569px;}
  .btm1_box1{width: calc(100% - 509px);padding: 92px 30px 0 53px;}
  .btm2_form input:not([type="submit"]), .btm2_form textarea{width: 26%;padding-left: 10px;padding-right: 10px;float: none;margin: 0;}
  [class^="btm2_inner"] p{width: 50%;padding: 10px;}
  .btm2_form input[type="submit"]{float: none}

  .contact_info{width: calc(100% - 533px);padding: 47px 24px 0;}
  .footer_nav{width: 533px;}
  .footer_nav figure{overflow: hidden;width: 347px;}
  .footer_nav figure img{max-width: inherit}
  .footer_nav ul{}

}

@media only screen
and (max-width : 1024px) {

   /* Nav Area Sub-Menu Style */
   nav.page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right:20px;top:30px;position:absolute;}
   nav.page_nav ul li:hover > ul{display: none;}
  .slider{margin-top: 0 !important;}
}

@media only screen
and (max-width : 1010px) {

  /*Header Area*/
  header {padding: 15px 10px;}
  .main_logo{position: static;text-align: center;}

  /*Nav Area*/
  nav.page_nav {clear: both; height:auto;margin:auto; padding:10px 10px 4px; transition:none; position:relative; width:100%; right:0; top:0; font-size: 0;}
  nav.page_nav ul{ margin:0; text-align:center;}
  nav.page_nav ul li{width: 32%; text-align: center; margin:0px 2px 6px !important;-webkit-box-shadow:inset 0px 0px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow:inset 0px 0px 5px 0px rgba(0,0,0,0.75); box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);}
  nav.page_nav ul li:after{content: "";}
  nav.page_nav ul li a{line-height: 40px;}

  nav.page_nav ul li span{right:0;top:5px;}

  nav.page_nav ul ul, nav.page_nav ul ul li, nav.page_nav ul ul li a {width:100%;}
  nav.page_nav ul ul li{margin: 0 !important}

  /*Banner Area*/
  #banner{text-align:center; height:auto; margin:0; }
  #banner > .wrapper{height: auto;}
    .box_skitter{display:none;}
    .rslides{display:block;}
    .bnr_info{position: static;background: #424242;padding: 30px 10px;}
    .slider{float: none;width: 100%;margin: 0;position: static;}
  .bnr_box{position: static;width: 100%;text-align: center;border-bottom: 1px solid #fff;}
  .bnr_box figure,[class^="bnr_inner"] a:before{display: none}
  [class^="bnr_inner"]{}
  [class^="bnr_inner"] a{padding: 30px 10px;height: auto;}
    .non_ban figure{width: 190%;margin-left: -42%;}
    .page_title{font-size: 40px}

  /*Middle Area*/
  #middle {text-align:center; margin:0; padding:8px 8px 0;}
    .middle_con section{width:32%; margin:0 3px 8px!important;}

  /*Main Area*/
  #main_area{padding:0; margin:0;}
    main{float:none; margin: 0 auto; width:100%;padding: 30px 10px;min-height: 0;}
  .sidebar{margin: 0;float: none;}
  .sidebar figure{display: none}
  .side_info{position: static;background: #222;padding: 30px 10px;text-align: center;}
  .side_info h2{color: #fff}
  /*Bottom Area*/
  #bottom1{padding: 0;border-bottom: 1px solid #fff;}
  .btm1_con{height: auto}
  .btm1_con figure{display: none}
    .btm1_con section{width:100%; float: none;text-align: center;padding: 30px 10px;}

  #bottom2{height: auto;padding: 30px 10px 15px;}
  .btm2_form{margin-bottom: 30px;}
  .btm2_con h2 span{font-size: 46px;}
  [class^="btm2_inner"]{float: none;margin: 0 auto 15px;text-align: center;height: auto;}
  [class^="btm2_inner"] h3{display: block;width: 100%;padding: 22px 10px;height: auto;}
  [class^="btm2_inner"] p{width: 100%;padding: 15px 10px;min-height: 123px;}
  [class^="btm2_inner"] a{display: block}
  .btm2_form input:not([type="submit"]){width: 49%;margin: 0 auto 15px;}
  .btm2_form textarea{width: 72%;}
  .btm2_form input[type="submit"]{width: 26%;}

  #bottom3{display: none}
  /*Footer Area*/
  footer{}
  .footer_top{height: auto;padding: 30px 10px;}
  .contact_info{float: none;width: 100%;text-align: center;height: auto;padding: 30px 10px;margin: 0 auto 30px;}
  .contact_info h2 span{margin: 0 auto;padding: 10px;line-height: 100%;max-width: 100%;}
  .contact_info p{padding: 0;}
  .contact_info p:before{display: none}

  .footer_nav{float: none;margin: 0 auto;overflow: hidden;width: 738px;}
  .footer_nav figure{width: auto}
  .footer_nav figure img{max-width: 100%}


}

@media only screen
and (max-width : 800px) {
  /* Other */
  .thumb_right_dd, .thumb_left_dd{width: 300px}
  body.active{overflow: hidden;width:100%;height:100%;position:fixed;}
  .sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .main_logo figure{display: inline-block;max-width: 75%;}

  /* Header Area */
  header{padding: 0}
  .main_logo{float: none; margin: 0;text-align: left;}
  .header_info{text-align: center; padding: 10px; float: none;}

  [class^="bnr_inner"] {width: 100%}
  [class^="btm2_inner"]{width: 100%}
  [class^="btm2_inner"] p{min-height: 0}

  /* Nav Area */
  #nav_area{padding:25px 15px;}
  .nav_toggle_button{display:block;}
  nav.page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;background: #ca3333;transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;left: auto;}
  nav.page_nav ul{margin: 0; padding: 0;}
  nav.page_nav ul li{width: 100%; display: block; margin: 0 auto !important;border: none;border-bottom: 1px solid #f8f8f8;text-align: left;box-shadow: none}
  nav.page_nav ul li:last-child{border-bottom: none;}
  nav.page_nav ul li a{line-height: 50px;padding: 0 10px !important;color: #fff;}

  nav.page_nav ul ul{width:100%; position:relative;  transition:none;}
  nav.page_nav ul ul li {border:none; width:100%;}

  /* Toggle Style */
  .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;}
  .logo_slide_right {float:left;width: calc(100% - 90px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #fff;position: relative;}
  .menu_slide_right .hamburger{position: absolute;top: 45%;right: 10px;transform: translateY(-50%);}
  /*Footer Area*/
  .footer_btm{padding: 24px 12px;height: auto;}
  .footer_nav{width: 100%;height: auto;padding: 30px 10px;}
    .footer_nav ul{ margin:0; text-align:center; font-size: 0;width: 100%;padding: 0;}
    .footer_nav ul li{width: 32%; text-align: center; border:1px solid #575757; margin:0px 2px 6px !important;display: inline-block;}
    .footer_nav ul li:after{display: none;}
    .footer_nav ul li a{line-height: 50px;padding: 0 10px;}
  .footer_nav figure, .footer_nav ul li a:before, .footer_nav ul li a:after{display: none}

    .copyright{margin: 0;}

}

/* Smartphones */
@media only screen
and (max-width : 600px) {

  #wpadminbar {position: fixed!important;}
  /*Banner Area*/
  .mobi_ban{display: block;}
  .non_ban figure{width: 310%;margin-left: -105%;}
  .page_title{position: static;background: #ca3333;color: #fff;font-size: 30px}

  /*Middle Area*/
  .middle_con section{margin:0 auto 8px!important; width: 100%}

  /*Bottom Area*/
  .btm1_con section, .btm2_form input:not([type="submit"]), .btm2_form textarea{ width: 100%}
  .btm2_form input[type="submit"]{width: 197px;margin-top: 15px;}

  /*Footer Area*/
  footer {padding-bottom: 45px;}
  .footer_comp{display:block; line-height: 28px;}
  .footer_comp:before, .footer_comp:after{display: none;}
  .footer_nav ul li{width:100%; margin: 0 auto 6px!important;}
  .contact_info ul li small{display: block;height: 0;opacity: 0;position: relative;z-index: 1;}

  /*Others*/
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .thumb_left_dd, .thumb_right_dd, .thumb_center_dd, .slider{display: none;}
  main .bullet{padding-left:10px;}
  .back_top{background: url(../images/back_top.png) no-repeat center center #ca3333; position: fixed; bottom: 0; right: 0; width: 100%; height: 45px; cursor: pointer; z-index: 999;}
  .back_top:hover{opacity: .6;}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

}

@media only screen
and (max-width : 500px) {
  .bnr_info h2{font-size: 10vw;}
  .bnr_info h2 span{font-size: 12vw;}

  main .h1_title{font-size: 38px;}
  main .h1_title span{font-size: 19px;}

  .btm1_box1 h2{font-size: 8vw;}
  .btm2_con h2 {font-size: 6vw;}
  .btm2_con h2 span{font-size: 9vw;}

  .contact_info h2{font-size: 12vw;}
  .copyright small{display: block;margin: 0;}
  .copyright small:before{display: none}
}
