@font-face {
    font-family: 'Avalon';
    src: url('fonts/Avalon-Bold.woff2') format('woff2'),
        url('fonts/Avalon-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('fonts/AvalonPlain.woff2') format('woff2'),
        url('fonts/AvalonPlain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('fonts/Avalon-Bold.woff2') format('woff2'),
        url('fonts/Avalon-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('fonts/AvalonPlain.woff2') format('woff2'),
        url('fonts/AvalonPlain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input:not([type='radio']):not([type='checkbox']), textarea, select{-webkit-appearance: none;}
form, label {-webkit-text-size-adjust: 100%;}
mark {background-color: transparent;}
/* end reset */

/*preset*/
body{font-size: 18px; line-height: 22px; font-family: 'Questrial', sans-serif; color:#2c2c2c;}
body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}
a{ text-decoration:none; -webkit-transition: all .3s linear;transition: all .3s linear;}
img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}
.comp{color:#ca3333; font-weight:bold; font-family: 'Avalon';}
.comingsoon{color:red; font-style:italic; font-weight:bold;}
.col2{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
.col3{-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
.col2 li, .col3 li{overflow: hidden; display: inline-block; width: 100%;}
.back_top{display: none; z-index: -1;}
.main_phone {font-weight: bold;}

/*Heading for SEO*/
.h1_hdng{font-size: 22px; font-weight: 700; color: #000;}

/*Thumbnail Images*/
.thumb_left_dd, .thumb_left_dr{  float:left; margin:-4px 19px 0 0;}
.thumb_right_dd, .thumb_right_dr{ float:right; margin:-4px 0 0 19px;}
.thumb_center_dd, .thumb_center_dr{ display: block; margin: 10px auto;}

/* Text Alignment */
.text_left, .text_left p{text-align: left;}
.text_right, .text_right p{text-align: right;}
.text_center,.text_center p{text-align: center; display: block;}

/* Forms Presets */
::-webkit-input-placeholder {opacity: 1; color: inherit;}
::-moz-placeholder {opacity: 1; color: inherit;}
:-ms-input-placeholder {opacity: 1; color: inherit;}
:-moz-placeholder {opacity: 1; color: inherit;}

/*end preset*/

.wrapper{ width:100%; max-width:1280px; margin:0 auto; position:relative;}

/*header*/
header{}
	.main_logo{position: absolute;top: 76px;left: -6px;z-index: 23;}
	.main_logo figure{display: inline-block;width: 453px;}
	.header_info{float: right; text-align: right;}

  .social_media{}
  .social_media ul li{}
/*end header*/

/*nav*/
nav.page_nav {   position: absolute; z-index: 21;left: 0;right: 0;background: #fff;}
nav.page_nav ul{}
nav.page_nav ul li{display:inline-block; position:relative; }
nav.page_nav ul li:first-child a{padding-left:0;}
nav.page_nav ul li:last-child{margin-right:0;}
nav.page_nav ul li:after{ content:url('images/nav_spacer.png'); position:absolute; top:32px; right:-4px; }
nav.page_nav ul li:last-child:after{ content:""; }
nav.page_nav ul li a{display:block; font-size: 20px;  color:#282828; text-transform: uppercase; line-height: 94px; padding:0 17px;}
nav.page_nav ul li a:hover, nav.page_nav ul li a:active, nav.page_nav ul li.current_page_item > a, nav.page_nav ul li a:hover small, nav.page_nav ul li.current_page_item a small{ text-decoration: underline;}

/*Sub Menu*/
nav.page_nav ul li:hover > ul { display: block; visibility: visible; }
nav.page_nav ul ul { display:none; margin:0; padding:0; position:absolute; top:100%; left:0; z-index:999; }
nav.page_nav ul ul ul { left:100%; top: 0; }
nav.page_nav ul ul li{display: block; width: 100%; margin: 0;}
nav.page_nav ul ul li a { background: #353535; width: 150px; margin: auto; height: auto; display: block; padding: 10px 15px; border-bottom: 1px solid; line-height: 100%;text-align: left;}

nav.page_nav span{position: absolute; right: 25px;top:32px; display: none; padding: 0; cursor: pointer; z-index: 9; color: #fff;text-align: center;}


/* Drop down icon */
.fa{display:block; margin-top: -3px;}
.fa:before{position: absolute;}


/* Navigation bar icon */
.nav_toggle_button{display:none; text-align:left;position:relative;}
.nav_toggle_button.active {opacity:1;}
.nav_toggle_button i{cursor: pointer;}

/*Burger Color*/
.nav_toggle_button .toggle_holder{position: absolute;top: 60%;right: 0;transform: translateY(-50%);}
.nav_toggle_button .hamburger{}
.nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-inner:before, .nav_toggle_button .hamburger-inner:after{background:#0E0E0E;}
.nav_toggle_button small{text-transform:uppercase;font-weight:bold;font-size:15px;color:#0E0E0E;display:block;}

/* Default Responsive Style for Toggle Swipe Right */
.menu_slide_right {display: none;}

/*Responsive burger and color*/
.menu_slide_right .hamburger-inner, .menu_slide_right .hamburger-inner:before, .menu_slide_right .hamburger-inner:after{background:#000;}
.menu_slide_right .toggle_holder{position: absolute;top: 55%;right: 0;transform: translateY(-50%);}
.menu_slide_right small{text-transform:uppercase;color:#000;font-weight:bold;font-size:13px;display:block;margin-top: 36px;margin-right: 9px;}

/*end nav*/

/*banner*/
#banner{overflow: hidden;}
	#banner > .wrapper{height: 900px;}
	.slider{float: left;margin-left: -320px;width: 970px;position: absolute;top: 0;left: 50%;margin-left: -960px;z-index: -1;}
		.rslides{display: none;}
		.mobi_ban{display: none;}

	.bnr_info{ bottom: 85px; left: 0; right: 0; width: 100%;  position: absolute;  z-index: 23;}
	.bnr_info h2{line-height: 100%;font-size: 44px;color: #282828;margin-bottom: 20px;text-shadow: rgb(255, 255, 255) 4px 0px 0px, rgb(255, 255, 255) 3.88333px 0.983333px 0px, rgb(255, 255, 255) 3.51667px 1.91667px 0px, rgb(255, 255, 255) 2.93333px 2.73333px 0px, rgb(255, 255, 255) 2.16667px 3.36667px 0px, rgb(255, 255, 255) 1.26667px 3.8px 0px, rgb(255, 255, 255) 0.283333px 3.98333px 0px, rgb(255, 255, 255) -0.716667px 3.93333px 0px, rgb(255, 255, 255) -1.66667px 3.63333px 0px, rgb(255, 255, 255) -2.51667px 3.11667px 0px, rgb(255, 255, 255) -3.2px 2.4px 0px, rgb(255, 255, 255) -3.7px 1.53333px 0px, rgb(255, 255, 255) -3.96667px 0.566667px 0px, rgb(255, 255, 255) -3.98333px -0.433333px 0px, rgb(255, 255, 255) -3.75px -1.4px 0px, rgb(255, 255, 255) -3.28333px -2.28333px 0px, rgb(255, 255, 255) -2.61667px -3.03333px 0px, rgb(255, 255, 255) -1.78333px -3.58333px 0px, rgb(255, 255, 255) -0.85px -3.91667px 0px, rgb(255, 255, 255) 0.15px -4px 0px, rgb(255, 255, 255) 1.13333px -3.83333px 0px, rgb(255, 255, 255) 2.05px -3.43333px 0px, rgb(255, 255, 255) 2.83333px -2.81667px 0px, rgb(255, 255, 255) 3.45px -2.03333px 0px, rgb(255, 255, 255) 3.83333px -1.11667px 0px, rgb(255, 255, 255) 4px -0.133333px 0px;}
	.bnr_info h2 span{display: block;line-height: 100%;color: #ca3333;font-weight: bold;font-size: 60px;font-family: 'Avalon';margin-top: -6px;}
	.bnr_info p{}
	.bnr_info a{display: inline-block;width: 197px;line-height: 56px;background-color: #FFFFFF;text-align: center;font-size: 20px;color: #282828;text-transform: uppercase;}
	.bnr_info a:hover{background: #ca3333;color: #fff;}

.bnr_box{background: #0e0e0e;position: absolute;z-index: 23;top: 0;right: 0;width: 630px;font-size: 0;}
.bnr_box:after{content: "";background: #0e0e0e;height: 100%;width: 320px;position: absolute;top: 0;right: -320px;}
[class^=bnr_inner]{display: inline-block;vertical-align: top;width: 315px;color: #d7d7d7;animation-duration: 3500ms !important;}
[class^="bnr_inner"] a{display: block;height: 332px;text-align: center;font-size: 19px;color: #d7d7d7;position: relative;padding: 93px 54px 0;line-height: 24px;}
[class^="bnr_inner"] a:hover{background: #ca3333;color:#fff}
[class^="bnr_inner"] a:hover h2{color: #0e0e0e}
[class^="bnr_inner"] h2{line-height: 100%;color: #ca3333;font-size: 35px;font-weight: bold;font-family: 'Avalon';margin-bottom: 15px;}
[class^="bnr_inner"] h2 span{display: block;line-height: 100%;color: #d7d7d7;font-family: 'Questrial', sans-serif;font-size: 25px;font-weight: normal;}
[class^="bnr_inner"] p{}
.bnr_inner2{background-color: #FFFFFF;}
.bnr_inner2 a, .bnr_inner2 h2 span{color: #282828;}
[class^="bnr_inner"] a:before{content: "";width: 4px;height: 69px;background-color: #EFEFEF;position: absolute;top: -36px;}
.bnr_inner2 a:before{content: "";background: #0E0E0E;top: auto;bottom: -36px;}
/*end banner*/


/*middle*/
#middle{background: aquamarine; padding: 10px 0; text-align: center;}
	.middle_con section{background: burlywood; display: inline-block; vertical-align: top; width: 320px; height: auto; text-align: left; padding: 10px;}
/*end middle*/

/*main*/
#main_area{padding: 85px 0 0;}
	main{float: left; width: calc(100% - 758px); line-height: 24px; max-width: 100%; text-align: left;background-color: #0E0E0E;color: #d7d7d7;min-height: 552px;padding: 76px 76px 0;}
		main .h1_title{ font-weight: bold; margin-bottom:26px;text-transform: uppercase;color: #ca3333;font-size: 60px;line-height: 100%;font-family: 'Avalon';}
		main .h1_title span{font-size: 22px; font-weight: normal; display: block;font-family: 'Questrial', sans-serif;color: #d7d7d7;text-transform: none;line-height: 100%;margin-bottom: -3px;}
main .h1_title small{display: block;line-height: 100%;margin-top: -6px;}
		main p{margin-bottom:15px;}
		main ol{padding-left: 35px; margin-bottom: 15px;}
		main ul li{position: relative;}
		main .bullet {padding:0;margin-bottom: 15px;}
		main .bullet li{padding-left: 25px;margin-bottom: 8px}
		main .bullet li:before{position: absolute; content: "✓"; top: 0; left: 0;font-weight: bold;color: #ca3333}
		main a{font-weight: bold; color: #fff;}
		main a:hover, .home span:hover{text-decoration: underline;}

/*end main*/

/*sidebar*/
.sidebar{float: right; margin-right: -320px;position: relative;}
.side_info{position: absolute;top: 80px;left: 86px;}
.side_info h2{line-height: 100%;font-size: 25px;color: #282828;margin-bottom: 17px;}
.side_info h2 span{display: block;line-height: 100%;font-weight: bold;font-family: 'Avalon';font-size: 35px;color: #ca3333;}
.side_info a{display: inline-block;width: 197px;line-height: 56px;background-color: #FFFFFF;text-align: center;font-size: 20px;color: #282828;text-transform: uppercase;}
.side_info a:hover{background: #ca3333;color: #fff;}
/*end sidebar*/

/*bottom*/
#bottom1{  text-align: center;padding-bottom: 109px;}
.btm1_con{background-color: #0E0E0E;height: 469px;color: #d7d7d7;}
.btm1_con figure{float: left;margin-left: -320px;}
 	.btm1_box1{ display: inline-block; vertical-align: top;  height: auto; text-align: left; float: right;width: calc(100% - 759px);font-size: 19px;padding: 95px 46px 0 84px;line-height: 25px;}
.btm1_box1 strong{font-family: 'Avalon';}
.btm1_box1 h2{line-height: 100%;font-family: 'Avalon';font-weight: bold;font-size: 40px;color: #ca3333;margin-bottom: 30px;}
.btm1_box1 h2 span{display: block;line-height: 100%;margin-top: 6px;}
.btm1_box1 p{}
.btm1_box1 a{}
.btm1_box1 a:hover{}

#bottom2{ text-align: center; padding: 83px 0;height: 638px;background-color: #0E0E0E;color: #d7d7d7;}
.btm2_con h2{line-height: 100%;font-size: 22px;margin-bottom: 17px;}
.btm2_con h2 span{display: block;line-height: 100%;font-family: 'Avalon';font-weight: bold;font-size: 60px;color: #ca3333;margin-top: -3px;}
.btm2_info{font-size: 19px;margin-bottom: 28px;}
.btm2_form{margin-bottom: 80px;}
.btm2_form input:not([type="submit"]){display: inline-block;vertical-align: top;background: #1b1b1b;width: 343px;height: 64px;border: 1px solid #2f2f2f;color: #d7d7d7;font-size: 18px;font-family: 'Questrial', sans-serif;-webkit-appearance: none;-webkit-border: 1px solid #2f2f2f;-webkit-border-radius: 0;padding: 0 37px;}
.btm2_form textarea{display: inline-block;vertical-align: top;background: #1b1b1b;width: 343px;height: 64px;border: 1px solid #2f2f2f;color: #d7d7d7;font-size: 18px;font-family: 'Questrial', sans-serif;-webkit-appearance: none;-webkit-border: 1px solid #2f2f2f;-webkit-border-radius: 0;overflow: auto;resize: none;margin: 0 6px;padding: 21px 40px 0;}
.btm2_form input[type="submit"]{-webkit-appearance: none;-webkit-border: 0;-webkit-border-radius: 0;width: 197px;height: 64px;background-color: #CA3333;border: 0;color: #fff;font-size: 20px;text-transform: uppercase;font-family: 'Questrial', sans-serif;float: right;}
.btm2_form input[type="submit"]:hover{background: #d7d7d7;color: #2c2c2c;}
.btm2_form input[type="text"]{float: left}
.btm2_form input[type="email"]{margin: 0 6px;}

.btm2_box1{}
[class^=btm2_inner]{display: inline-block;vertical-align: top;width: 49.2%;float: left;text-align: left;height: 176px;background: #fff;font-size: 18px;color: #333333;animation-duration: 2000ms !important;}
.btm2_inner2{float: right;}
[class^="btm2_inner"] h3{width: 237px;height: 176px;background-color: #CA3333;display: inline-block;line-height: 100%;font-size: 35px;font-weight: bold;font-family: 'Avalon';color: #fff;padding: 58px 0 0 34px;}
[class^="btm2_inner"] h3 span{display: block;line-height: 100%;font-size: 22px;font-family: 'Questrial', sans-serif;font-weight: normal;margin-top: 2px;}
.btm2_inner2 h3{line-height: 100%;font-size: 22px;font-family: 'Questrial', sans-serif;font-weight: normal;}
.btm2_inner2 h3 span{display: block;line-height: 100%;font-size: 35px;font-weight: bold;font-family: 'Avalon';color: #fff;}
[class^="btm2_inner"] p{display: inline-block;vertical-align: top;width: 61%;padding: 44px 19px 0 47px;line-height: 23px;}
[class^="btm2_inner"] a{display: inline-block;color: #ca3333;text-transform: uppercase;}
[class^="btm2_inner"] a:hover{text-decoration: underline;}
[class^="btm2_inner"] p strong{font-family: 'Avalon';}

#bottom3{}
#bottom3 > .wrapper{max-width: 1920px;}
#bottom3 ul {font-size: 0;}
#bottom3 ul li{display: inline-block;vertical-align: top;width: 25%;}
/*end bottom*/

/*footer*/
footer{}
	.footer_top{ padding: 81px 0;height: 579px;background-color: #F5F5F5;}
		.contact_info{float: left;height: 409px;background-color: #FFFFFF;width: calc(100% - 739px);padding: 47px 67px 0 70px;line-height: 19px;}
		.contact_info h2{line-height: 100%;font-family: 'Avalon';font-weight: bold;font-size: 60px;color: #ca3333;margin-bottom: 23px;}
		.contact_info h2 span{display:block;width: 397px;line-height: 41px;background-color: #0E0E0E;color: #fff;font-size: 22px;font-weight: normal;font-family: 'Questrial', sans-serif;margin-top: 1px;padding: 0 0 0 26px;max-width: 100%;}
.contact_info p{position: relative;font-size: 16px;padding-left: 101px;}
.contact_info p:before{content: url(images/icon.png);position: absolute;top: 2px;left: 0;}
		.contact_info ul{ margin: 23px 0 0;}
		.contact_info ul li{display:inline-block; vertical-align:top; white-space:pre-line;  font-size: 18px;line-height: 22px;}
		.contact_info ul li::before{content: '';position: absolute;}
		.contact_info ul li a{color:#ca3333;}
		.contact_info ul li a[href^="tel:"] {color: inherit;}
		.contact_info ul li a:hover{text-decoration:underline;}
		.contact_info ul li mark{}

	.footer_btm{ padding: 26px 0; text-align:center; height: 120px;background-color: #0E0E0E;}
		.footer_nav{height: 409px;background-color: #0E0E0E;float: right;width: 738px;overflow: hidden;}
.footer_nav figure{float: left}
		.footer_nav ul{ margin: auto 0; padding: 64px 0;  list-style: none; float: right;width: 162px;}
		.footer_nav ul li{display: block; vertical-align: top;position:relative;}
		.footer_nav ul li:after{top: 13px; left: 0; content: "\203A";  color: #efefef;  position: absolute;}
		.footer_nav ul li:last-child:after{background:none;}
		.footer_nav ul li a{ display: block; padding: 0 0 0 14px; font-size: 20px; color: #efefef;position: relative;line-height: 56px;}
		.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{ text-decoration:underline;color: #ca3333;}
.footer_nav ul li:first-child a:after{content: "";background: #424242;height: 1px;width: 133px;position: absolute;top: 0px;left: 0;}
.footer_nav ul li a:before{content: "";background: #424242;height: 1px;width: 133px;position: absolute;bottom: 0;left: 0;}

		.copyright{ color:#fff; margin-top: 10px;font-size: 18px;}
.copyright small{position: relative;margin-left: 10px;}
.copyright small:before{content: "\2022";position: absolute;top: 0;left: -10px;}
		.copyright a{ color:#fff;}
		.copyright a:hover{text-decoration:underline;}
		.footer_comp{display:block;  position:relative;color: #ca3333;font-size: 22px;font-weight: bold;font-family: 'Avalon';}

/**Resources**/
.resources {margin-top:10px;}
.resources a { display:block;font-weight:bold; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; transition: all 0.3s linear;}
.resources a:hover {padding-left:2px; text-decoration: none!important; color: red;}
.resources ul,.resources li {list-style-type:none; margin:0; padding:0;}
.resources ul li {margin-bottom:8px; padding:12px; background:#FAFDFE;border:1px solid #ececec; }
.resources ul li:before{content:"";}
.resources ul li:after{content:"";}
.resources ul li a span {font-size:11px; color:#666666; letter-spacing:1px; }

/* IE 8 */
.lt-ie8 .dang-ie{width:100%;height:100%;position:fixed;background-color:#00abdd}
.message{text-align:center;color:#fff;font-size:20px;position:absolute;top:20%;left:0;right:0}
.inner-message{position:relative;top:-20%;left:0;right:0;text-align:center;margin:auto}
.inner-message img{position:relative;left:3em}
.inner-message a.download{display:block;width:300px;padding:10px;color:#fff;margin:2em auto;border:1px solid #fff}
.terms{color:#fff;font-size:13px;padding:20px;position:absolute;right:0;bottom:0}
.terms a{color:#fff;font-weight:700}
.lt-ie8 .protect-me{display:none}

/* Sitemap Style */
.sitemap{list-style-type: none; padding: 0; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 3px; -moz-column-gap: 3px;  column-gap: 3px;}
.sitemap li {counter-increment: step-counter; overflow: hidden;}
.sitemap li{padding:5px 15px; background: #E3E3E3;}
.sitemap li:nth-child(odd){background: #F2F2F2;}
.sitemap li a{display: block;}
.sitemap li a:before {content: counter(step-counter) '. ';}

/* Pages under Certain Parent Pages */
.sitemap ul {margin-top: 5px;}
.sitemap ul li:nth-child(odd){background: #E3E3E3;}
.sitemap ul li:nth-child(even){background: #F2F2F2;}
.sitemap ul li {counter-increment: sub-counter;}
.sitemap ul li a:before {content: counter(step-counter) '.' counter(sub-counter) ' ';}



/* Breadcrumb Styling */

.breadcrumbs {margin-bottom: 34px; border-bottom: 1px dotted gray; padding-bottom: 11px;overflow: hidden;text-overflow: ellipsis;}
.breadcrumbs span[property='name'] {display: inline-block;padding: 0;margin-top: -3px;vertical-align: middle;max-width: 270px;white-space: nowrap;}
.breadcrumbs .post {border-radius: 0;padding: 0;margin: 0;border: none;word-wrap: normal;}
.breadcrumbs span[class='post post-page current-item'] {display: inline-block;padding: 0;vertical-align: middle;max-width: 250px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}


/* End Breadcrumb Styling */

/* Non-home */
.non_ban {position: relative;}
.non_ban figure {width: 1920px;  margin-left: -420px;max-width: 1920px;}
.non_ban figure img{height: auto;}
.page_title{text-align: center;width: 100%;z-index: 2;position: absolute;bottom: 0;font-size: 44px;line-height: 100%;text-transform: uppercase;padding: 10px;background: rgba(255,255,255,.5);font-family: 'Avalon';color: #ca3333;}
.page_title::before{content: '';background:rgba(255,255,255,.5);width: 420px;height: 100%;left: -420px;position: absolute;top: 0;}
.page_title::after{content: '';background:rgba(255,255,255,.5);width: 420px;height: 100%;right: -420px;position: absolute;top: 0;}

.intro_txt{margin-bottom: 20px; padding: 15px; font-size: 18px; font-weight: bold; text-align: center; position: relative;border: 1px solid #000}
