/* Large Tablet Devices */
@media only screen
and (max-width : 1110px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
  /*header*/
  header, .bnr_info, #main_area, #bottom1, #bottom2, .footer_top{padding-left:10px;padding-right:10px}

  .main_logo figure{width: 336px;}
  nav.page_nav ul li a{padding: 0 54px;}

  .btm1_box2{width: calc(100% - 550px);}
  .btm1_box2 h2{font-size: 40px;}

  .btm1_box3{text-align: center;}
  [class^="btm1_serv"]{margin: 0;float: none;width: 24.5%;}

  .btm2_form input:not([type="submit"]), .btm2_form textarea{width: 24%;margin: 0;}

  .contact_info{}
  .contact_info h2{font-size: 38px;}
  .contact_info ul li{margin-bottom: 15px;}
  .contact_info ul{margin: 20px 0 0;}
  .contact_info h3{margin-top: 9px;}
}

@media only screen
and (max-width : 1024px) {

   /* Nav Area Sub-Menu Style */
   nav.page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right:20px;top:30px;position:absolute;}
   nav.page_nav ul li:hover > ul{display: none;}
  .Mainbackground{margin-top: 0 !important;top:-91px;}
}

@media only screen
and (max-width : 1010px) {

  /*Header Area*/
  header {padding: 15px 10px;position: static;height: auto;}
  .main_logo{float: none; margin: 0;text-align: center;}
  .header_info{text-align: center; padding: 10px; float: none;}
  .main_logo figure{margin: 0}



  /*Nav Area*/
  nav.page_nav {clear: both; height:auto;margin:auto; padding:10px 10px 4px; transition:none; position:relative; width:100%; right:0; top:0; font-size: 0;}
  nav.page_nav ul{ margin:0; text-align:center;}
  nav.page_nav ul li{width: 32%; text-align: center; margin:0px 2px 6px !important;-webkit-box-shadow:inset 0px 0px 5px 0px rgba(255, 255, 255, 0.75); -moz-box-shadow:inset 0px 0px 5px 0px rgba(255, 255, 255, 0.75); box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.75);}
  nav.page_nav ul li:after{content: "";}
  nav.page_nav ul li a{line-height: 40px;padding: 0 10px !important;}

  nav.page_nav ul li span{right:0;top:5px;}

  nav.page_nav ul ul, nav.page_nav ul ul li, nav.page_nav ul ul li a {width:100%;}
  nav.page_nav ul ul li{margin: 0 !important}

  /*Banner Area*/
  #banner{text-align:center; height:auto; margin:0; }
  #banner > .wrapper{height: auto;}
    .box_skitter, .bnr_info:before, .bnr_info h3:before,.bnr_info h3:after{display:none;}
    .rslides{display:block;}
    .bnr_info{background: #7fc22e;position: static;text-align: center;height: auto;padding: 30px 10px;}
    .slider{width: 100%;margin: 0;}
  .bnr_text{float: none;margin-bottom: 15px;}
  .bnr_info p{width: 100%;margin: 0;}
  .bnr_info a{float: none;}
  .bnr_info h3 span{margin: 0}

    .non_ban figure{width: 190%;margin-left: -42%;}
    .page_title{font-size: 40px}

  /*Middle Area*/
  #middle {text-align:center; margin:0; padding:8px 8px 0;}
    .middle_con section{width:32%; margin:0 3px 8px!important;}

  /*Main Area*/
  #main_area{padding:0; margin:0;}
  .main_tag{position: static;transform: none;}
    main{float:none; margin: 0 auto; width:100%;padding: 30px 10px}
  .sidebar{float: none}
  .sidebar figure, .main_tag:before,.main_tag:after, .Mainbackground{display: none}
  .sidebar a{position: static;margin: 0 auto;display: block;max-width: 96%;}

  .main_box{float: none;margin: 0;padding: 30px 10px;}
  .main_inner{float: none;width: 100%;text-align: center;}
  .main_box figure img{display: none}
  .main_box figure a{position: static;display: block;margin: 22px auto 0;}
  .main_box figure{float: none}

  /*Bottom Area*/
  #bottom1{height: auto;padding: 0px 10px 15px;background: #fff;}
  .btm1_box1{background: #82c531;float: none;width: 100%;padding: 10px 10px 0;}
  [class^="btm1_inner"]{text-align: center;padding: 30px 10px;border: 1px solid rgba(255,255,255,.4);margin: 0 auto 10px;}
  [class^="btm1_inner"] h2{padding: 0;}
  [class^="btm1_inner"] h2:before{right: 0;position: static;display: block;margin-bottom: 15px;height: 57px;}
  [class^="btm1_inner"]:after{display: none}
  .btm1_box2{float: none;width: 100%;background: #82c531;text-align: center;padding: 30px 10px;margin: 0;}
  .btm1_box3{float: none;margin-top: 30px;}
  [class^="btm1_serv"]{width: 48%;margin: 0 auto 15px;height: auto;}

  #bottom2{height: auto;padding: 30px 10px;}
  .btm2_form{text-align: center}
  .btm2_con p{padding: 0}
  .btm2_form input:not([type="submit"]){width: 49%;margin: 0 auto 10px;}
  .btm2_form textarea{width: 69%;}
  .btm2_form input[type="submit"]{float: none;width: 29%;}

  /*Footer Area*/
  footer{}
  .footer_top{height: auto;padding: 30px 10px;}
  .contact_info{float: none;width: 100%;display: block;}
  .map{display: block;width: 100%;}
  .footer_nav{float: none;margin: 30px auto 0;width: 100%;text-align: center;}
  .footer_nav ul li{width: 26%;text-align: left;}
  .counter{display: inline-block}

}

@media only screen
and (max-width : 800px) {
  /* Other */
  .thumb_right_dd, .thumb_left_dd{width: 300px}
  body.active{overflow: hidden;width:100%;height:100%;position:fixed;}
  .sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .main_logo figure{display: inline-block;max-width: 78%;}

  /* Header Area */
  .main_logo{float: none; margin: 0;text-align: left;}
  .header_info{text-align: center;  float: none;margin: 0;padding: 0;}
  .social_media{display: block;margin: 0 auto;}
  .head_con ul li{margin: 0 auto;padding: 0 11px;}
  .head_con ul li:before{display: none}

  /* Nav Area */
  #nav_area{padding:25px 15px;border-bottom: 1px solid #eee;}
  .nav_toggle_button{display:block;}
  nav.page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;background: #E20079;transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;left: auto;}
  nav.page_nav ul{margin: 0; padding: 0;}
  nav.page_nav ul li{width: 100%; display: block; margin: 0 auto !important;border: none;border-bottom: 1px solid #f8f8f8;text-align: left;box-shadow: none}
  nav.page_nav ul li:last-child{border-bottom: none;}
  nav.page_nav ul li a{line-height: 50px;padding: 0 10px}

  nav.page_nav ul ul{width:100%; position:relative;  transition:none;}
  nav.page_nav ul ul li {border:none; width:100%;}

  /* Toggle Style */
  .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;}
  .logo_slide_right {float:left;width: calc(100% - 68px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #fff;position: relative;}
  .menu_slide_right .hamburger{position: absolute;top: 45%;right: 10px;transform: translateY(-50%);}
  /*Footer Area*/
  .footer_btm{padding: 24px 12px;height: auto;}
    .footer_nav ul{ margin:0; text-align:center; font-size: 0;}
    .footer_nav ul li{width: 32%; text-align: center; border:1px solid #d7d4d4; margin:0px 2px 6px !important;}
    .footer_nav ul li:after{background: none;}
    .footer_nav ul li a{line-height: 50px;padding: 0 10px;}

    .copyright{}
   .footer_comp{display:block; line-height: 28px;margin: 0;font-size: 15px;}
  .footer_comp:before, .footer_comp:after{display: none;}

}

/* Smartphones */
@media only screen
and (max-width : 600px) {

  #wpadminbar {position: fixed!important;}
  /*Banner Area*/
  .mobi_ban{display: block;max-width: inherit;position: relative;width: 165%;left: -35%;}
  .non_ban figure{width: 310%;margin-left: -105%;}
  .page_title{position: static;background: #e20079;color: #fff;font-size: 30px}

  .head_con ul li{display: block;margin-bottom: 8px;padding: 0;font-size: 15px;}

  /*Middle Area*/
  .middle_con section{margin:0 auto 8px!important; width: 100%}

  /*Bottom Area*/
  .btm1_con section{margin:0 auto 8px!important; width: 100%}
  [class^="btm1_inner"], [class^="btm1_serv"], .btm2_form input:not([type="submit"]), .btm2_form textarea{width: 100%}
  .btm2_form input[type="submit"]{width: 259px;margin-top: 9px;max-width: 100%;}

  /*Footer Area*/
  footer {padding-bottom: 45px;}

  .footer_nav ul li{width:100%; margin: 0 auto 6px!important;}

  /*Others*/
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .thumb_left_dd, .thumb_right_dd, .thumb_center_dd, .slider{display: none;}
  main .bullet{padding-left:10px;}
  .back_top{background: url(../images/back_top.png) no-repeat center center #56940A; position: fixed; bottom: 0; right: 0; width: 100%; height: 45px; cursor: pointer; z-index: 999;}
  .back_top:hover{opacity: .6;}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

}

@media only screen
and (max-width : 500px) {
  .bnr_info h2{font-size: 7vw;}
  .bnr_info h3{font-size: 9vw;}

  .main_tag{font-size: 26px;}
  main .h1_title{font-size: 29px;}
  main .h1_title span{font-size: 32px;}

  .main_inner h2,.btm1_box2 h2, .btm2_con h2, .contact_info h2{font-size: 8vw;}

  .contact_info ul li{display: block;padding-left: 0;padding-right: 0;font-size: 15px;}

  .contact_info h3 small{display: block;height: 0;opacity: 0;position: relative;z-index: 1;}
  .contact_info h3{height: auto;line-height: 100%;padding: 15px 10px;}
}
