@font-face {
    font-family: 'Bilbo Swash Caps';
    src: url('fonts/BilboSwashCaps-Regular.woff2') format('woff2'),
        url('fonts/BilboSwashCaps-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input:not([type='radio']):not([type='checkbox']), textarea, select{-webkit-appearance: none;}
form, label {-webkit-text-size-adjust: 100%;}
mark {background-color: transparent;}
/* end reset */

/*preset*/
body{font-size: 17px; line-height: 22px; font-family: 'Quicksand', sans-serif; color:#000000;}
body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}
a{ text-decoration:none; -webkit-transition: all .3s linear;transition: all .3s linear;}
img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}
.comp{color:#e5aa33; font-weight:bold; }
.comingsoon{color:red; font-style:italic; font-weight:bold;}
.col2{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
.col3{-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
.col2 li, .col3 li{overflow: hidden; display: inline-block; width: 100%;}
.back_top{display: none; z-index: -1;}
.main_phone {font-weight: bold;}

/*Heading for SEO*/
.h1_hdng{font-size: 22px; font-weight: 700; color: #000;}

/*Thumbnail Images*/
.thumb_left_dd, .thumb_left_dr{  float:left; margin:-4px 19px 0 0;}
.thumb_right_dd, .thumb_right_dr{ float:right; margin:-4px 0 0 19px;}
.thumb_center_dd, .thumb_center_dr{ display: block; margin: 10px auto;}

/* Text Alignment */
.text_left, .text_left p{text-align: left;}
.text_right, .text_right p{text-align: right;}
.text_center,.text_center p{text-align: center; display: block;}

/* Forms Presets */
::-webkit-input-placeholder {opacity: 1; color: inherit;}
::-moz-placeholder {opacity: 1; color: inherit;}
:-ms-input-placeholder {opacity: 1; color: inherit;}
:-moz-placeholder {opacity: 1; color: inherit;}

/*end preset*/

.wrapper{ width:100%; max-width:1080px; margin:0 auto; position:relative;}

/*header*/
header{position: relative;z-index: 30;}
.head_container{position: absolute;left: 0;background: #000000;width: 183px;height: 963px;}
.head_container:before{content:"";background: #000;position: absolute;top: 0;width: 459px;height: 100%;left: -459px;}
	.main_logo{margin: 160px 0 21px;}
	.main_logo figure{display: inline-block;width: 181px;}
	.header_info{float: right; text-align: right;}

  .social_media{}
  .social_media ul li{}
/*end header*/

/*nav*/
nav.page_nav {   position: relative; z-index: 10;}
nav.page_nav ul{}
nav.page_nav ul li{display:block; position:relative; }
nav.page_nav ul li:first-child{margin-left:0;}
nav.page_nav ul li:last-child{margin-right:0;}
nav.page_nav ul li:after{ content:url('images/nav_spacer.png'); position:absolute; bottom:-5px;  left: 0;opacity: 0.1;}
nav.page_nav ul li:last-child:after{ content:""; }
nav.page_nav ul li a{display:block; font-size: 18px;  color:#fff;  line-height: 56px; }
nav.page_nav ul li a:hover, nav.page_nav ul li a:active, nav.page_nav ul li.current_page_item > a, nav.page_nav ul li a:hover small, nav.page_nav ul li.current_page_item a small{ text-decoration: underline;}

/*Sub Menu*/
nav.page_nav ul li:hover > ul { display: block; visibility: visible; }
nav.page_nav ul ul { display:none; margin:0; padding:0; position:absolute; top:100%; left:0; z-index:999; }
nav.page_nav ul ul ul { left:100%; top: 0; }
nav.page_nav ul ul li{display: block; width: 100%; margin: 0;}
nav.page_nav ul ul li a { background: #353535; width: 150px; margin: auto; height: auto; display: block; padding: 10px 15px; border-bottom: 1px solid; line-height: 100%;text-align: left;}

nav.page_nav span{position: absolute; right: 25px;top:32px; display: none; padding: 0; cursor: pointer; z-index: 9; color: #fff;text-align: center;}


/* Drop down icon */
.fa{display:block; margin-top: -3px;}
.fa:before{position: absolute;}


/* Navigation bar icon */
.nav_toggle_button{display:none; text-align:left;position:relative;}
.nav_toggle_button.active {opacity:1;}
.nav_toggle_button i{cursor: pointer;}

/*Burger Color*/
.nav_toggle_button .toggle_holder{position: absolute;top: 60%;right: 0;transform: translateY(-50%);}
.nav_toggle_button .hamburger{}
.nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-inner:before, .nav_toggle_button .hamburger-inner:after{background:#fff;}
.nav_toggle_button small{text-transform:uppercase;font-weight:bold;font-size:15px;color:#fff;display:block;}

/* Default Responsive Style for Toggle Swipe Right */
.menu_slide_right {display: none;}

/*Responsive burger and color*/
.menu_slide_right .hamburger-inner, .menu_slide_right .hamburger-inner:before, .menu_slide_right .hamburger-inner:after{background:#fff;}
.menu_slide_right .toggle_holder{position: absolute;top: 55%;right: 0;transform: translateY(-50%);}
.menu_slide_right small{text-transform:uppercase;color:#fff;font-weight:bold;font-size:13px;display:block;margin-top: 36px;margin-right: 9px;}

/*end nav*/

/*banner*/
#banner{overflow: hidden;}
	#banner > .wrapper{height: 964px;position: relative;}
	.slider{width: 2000px;position: absolute;top: -4px;left: 50%;margin-left: -999px;}
		/*.rslides{display: none;}*/
		.mobi_ban{display: none;}
	.rslides_tabs{position: absolute;bottom:68px;left: 0;right: 0;z-index: 31;text-align: center;}
	.rslides_tabs li{display:inline-block;vertical-align:top;font-size:0;margin: 0 2.5px;}
	.rslides_tabs li a{display:block;width: 262px;height: 200px;background:#fff;border: 8px solid #fff;}
	.rslides_tabs li a:hover,.rslides_tabs li.rslides_here a{background:#ebafb3 !important;border-color: #ebafb3;}

	[class^=bnr_info]{ top: 413px; left: 710px;  width: 100%;  position: absolute;  z-index: 31;}
	[class^=bnr_info] h2{line-height: 100%;font-size: 30px;}
	[class^=bnr_info] h2 span{display: block;line-height: 100%;font-family: 'Bilbo Swash Caps';font-size: 101px;margin-top: 3px;}
	.bnr_info2{color: #fff}
	.bnr_info3{display: none}
/*end banner*/

/*middle*/
#middle{background: aquamarine; padding: 10px 0; text-align: center;}
	.middle_con section{background: burlywood; display: inline-block; vertical-align: top; width: 320px; height: auto; text-align: left; padding: 10px;}
/*end middle*/

/*main*/
#main_area{background: #fff;position: relative;padding: 76px 0;}
	main{float: right; width: calc(100% - 528px); line-height: 23px; max-width: 100%; text-align: left;padding-top: 62px;}
		main .h1_title{font-size: 83px;  margin-bottom:42px;line-height: 100%;color: #e5aa33;font-family: 'Bilbo Swash Caps';}
		main .h1_title span{font-size: 37px; font-weight: normal; display: block;line-height: 100%;color: #000;font-family: 'Quicksand', sans-serif;margin-bottom: 5px;}
		main .h1_title small{display: block;line-height: 100%;font-family: 'Quicksand', sans-serif;font-size: 37px;color: #000;margin-top: -6px;}
		main p{margin-bottom:15px;}
		main ol{padding-left: 35px; margin-bottom: 15px;}
		main ul li{position: relative;}
		main .bullet {padding:0;margin-bottom: 15px;}
		main .bullet li{padding-left: 25px;margin-bottom: 8px}
		main .bullet li:before{position: absolute; content: "✓"; top: 0; left: 0;font-weight: bold;color: #e5aa33}
		main a{font-weight: bold; color: #7d6829;}
		main a:hover, .home span:hover{text-decoration: underline;}

/*end main*/

/*sidebar*/
.sidebar{float: left; }
	.side_box1{background: aqua; padding: 10px;}
	.side_box1 li{display: block; margin: 0 0 10px; background: palevioletred;}
	.side_box1 li a{font:; color: #fff; display: block; line-height: 30px; text-align: center;}
	.side_box1 li a:hover{}

	.side_box2{background: turquoise; padding: 10px;}
/*end sidebar*/

/*bottom*/
#bottom1{  height: 653px;}
.owl-carousel{text-align: center;margin: 41px auto 0;}
.btm1_con h2{line-height: 100%;font-size: 83px;color: #e5aa33;font-family: 'Bilbo Swash Caps';}
.owl-carousel .owl-item{border: 1px solid #aaa4a4;margin-right: 9px !important;float: none !important;display: inline-block;vertical-align: top;}
.owl-nav{display: block !important;}
.owl-prev{background: url(images/arrow1.png) center top !important;width: 61px;height: 62px;position: absolute;top: 48%;left: -3px;transform: translateY(-50%);font-size: 0 !important;border-radius: 0 !important;}
.owl-next{background: url(images/arrow2.png) center top !important;width: 61px;height: 62px;position: absolute;top: 48%;right: -3px;transform: translateY(-50%);font-size: 0 !important;}

.btm2_con{height: 386px;background-color: #7D6829;position: relative;margin-top: 65px;padding: 46px 0 0 80px;}
.btm2_con:after{content: "";background: #7D6829;position: absolute;top: 0;right: -460px;width: 460px;height: 100%;}
.btm2_inner{color: #fff;float: left;width: calc(100% - 454px);margin-top: 27px;}
.btm2_inner h3{line-height: 100%;font-size: 46px;margin-bottom: 21px;}
.btm2_inner h3 span{display: block;line-height: 100%;color: #e5aa33;font-size: 83px;font-family: 'Bilbo Swash Caps';margin-top: 6px;}
.btm2_inner p{}
.btm2_inner a{color: #fff;font-weight: bold;text-transform: uppercase;display: inline-block;}
.btm2_inner a:hover{text-decoration: underline;}
.btm2_img{float: right;width: 371px;height: 295px;background-color: #FFFFFF;text-align: center;padding: 11px;}

#bottom3{height: 673px;background: url(images/btm3_bg.jpg) center top no-repeat;padding-top: 291px;background-size: cover;}
.btm3_con{color: #fff;float: right;width: 566px;}
.btm3_con h2{line-height: 100%;font-size: 28px;margin-bottom: 17px;}
.btm3_con h2 span{display: block;line-height: 100%;color: #ebafb3;font-size: 83px;font-family: 'Bilbo Swash Caps';margin-top: 4px;}
.btm3_con p{margin-bottom: 42px;}
.btm3_con a{display: inline-block;width: 276px;line-height: 67px;background-color: #E5AA33;border-radius: 35px/33px;text-align: center;color: #fff;font-size: 22px;}
.btm3_con a:hover{background: #ebafb3;}
/*end bottom*/

/*footer*/
footer{}
	.footer_top{ padding: 89px 0;height: 454px;background-color: #FFFFFF;}
		.contact_info{float: left;width: calc(100% - 437px);line-height: 23px;margin-top: 19px;}
		.contact_info h2{line-height: 100%;font-size: 28px;margin-bottom: 13px;}
		.contact_info h2 span{display:block;line-height: 100%;color: #7d6829;font-size: 83px;font-family: 'Bilbo Swash Caps';margin-top: 7px;}
		.contact_info p{}
		.contact_info ul{ }
		.contact_info ul li{display:inline-block; vertical-align:top; white-space:pre-line;  font-size: 18px;font-weight: bold;}
		.contact_info ul li::before{content: '';position: absolute;}
		.contact_info ul li a{color:#000;}
		.contact_info ul li a[href^="tel:"] {color: inherit;}
		.contact_info ul li a:hover{text-decoration:underline;}
		.contact_info ul li mark{}
	.contact_info ul li address{display: inline-block}

.ftr_box{float: right;text-align: center;}
.ftr_logo{}
.ftr_logo figure{width: 298px;display: inline-block;max-width: 100%;}
.counter{width: 400px;line-height: 66px;text-align: center;border: 1px solid #dedede;border-radius: 30px;font-size: 20px;margin-top: 48px;max-width: 100%;display: inline-block;}

	.footer_btm{ padding: 7px 0; text-align:center; height: 66px;background-color: #E5AA33;}
		.footer_nav{}
		.footer_nav ul{ margin: auto 0; padding: 0; text-align: center; list-style: none; }
		.footer_nav ul li{display: inline-block; vertical-align: top;position:relative;}
		.footer_nav ul li:after{top: 5px; right: -3px; content: "\2022";    position: absolute;color: #fff;}
		.footer_nav ul li:last-child:after{display:none;}
		.footer_nav ul li a{ display: block; padding: 0 6px; font-size: 17px; color: #fff;}
.footer_nav ul li:first-child a{padding-left: 0;}
		.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{ text-decoration:underline;}

		.copyright{ color:#fff; margin-top: 5px;font-size: 18px;}
		.copyright a{ color:#fff;}
		.copyright a:hover{text-decoration:underline;}
		.footer_comp{display:inline-block; margin:0 0 0 10px; position:relative;}
		.footer_comp:before{content:"\2022"; left:-10px; top:0; position: absolute;}

/**Resources**/
.resources {margin-top:10px;}
.resources a { display:block;font-weight:bold; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; transition: all 0.3s linear;}
.resources a:hover {padding-left:2px; text-decoration: none!important; color: red;}
.resources ul,.resources li {list-style-type:none; margin:0; padding:0;}
.resources ul li {margin-bottom:8px; padding:12px; background:#FAFDFE;border:1px solid #ececec; }
.resources ul li:before{content:"";}
.resources ul li:after{content:"";}
.resources ul li a span {font-size:11px; color:#666666; letter-spacing:1px; }

/* IE 8 */
.lt-ie8 .dang-ie{width:100%;height:100%;position:fixed;background-color:#00abdd}
.message{text-align:center;color:#fff;font-size:20px;position:absolute;top:20%;left:0;right:0}
.inner-message{position:relative;top:-20%;left:0;right:0;text-align:center;margin:auto}
.inner-message img{position:relative;left:3em}
.inner-message a.download{display:block;width:300px;padding:10px;color:#fff;margin:2em auto;border:1px solid #fff}
.terms{color:#fff;font-size:13px;padding:20px;position:absolute;right:0;bottom:0}
.terms a{color:#fff;font-weight:700}
.lt-ie8 .protect-me{display:none}

/* Sitemap Style */
.sitemap{list-style-type: none; padding: 0; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 3px; -moz-column-gap: 3px;  column-gap: 3px;}
.sitemap li {counter-increment: step-counter; overflow: hidden;}
.sitemap li{padding:5px 15px; background: #E3E3E3;}
.sitemap li:nth-child(odd){background: #F2F2F2;}
.sitemap li a{display: block;}
.sitemap li a:before {content: counter(step-counter) '. ';}

/* Pages under Certain Parent Pages */
.sitemap ul {margin-top: 5px;}
.sitemap ul li:nth-child(odd){background: #E3E3E3;}
.sitemap ul li:nth-child(even){background: #F2F2F2;}
.sitemap ul li {counter-increment: sub-counter;}
.sitemap ul li a:before {content: counter(step-counter) '.' counter(sub-counter) ' ';}



/* Breadcrumb Styling */

.breadcrumbs {margin-bottom: 34px; border-bottom: 1px dotted gray; padding-bottom: 11px;overflow: hidden;text-overflow: ellipsis;}
.breadcrumbs span[property='name'] {display: inline-block;padding: 0;margin-top: -3px;vertical-align: middle;max-width: 270px;white-space: nowrap;}
.breadcrumbs .post {border-radius: 0;padding: 0;margin: 0;border: none;word-wrap: normal;}
.breadcrumbs span[class='post post-page current-item'] {display: inline-block;padding: 0;vertical-align: middle;max-width: 250px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}


/* End Breadcrumb Styling */

/* Non-home */
.non_ban {position: relative;}
.non_ban figure {width: 2000px;  margin-left: -460px;max-width: 2000px;}
.non_ban figure img{height: auto;}
.page_title{text-align: center;width: 100%;z-index: 2;position: absolute;bottom: 0;font-size: 44px;line-height: 100%;text-transform: uppercase;padding: 10px;background: rgba(255,255,255,.5);color: #7d6829;}
.page_title::before{content: '';background:rgba(255,255,255,.5);width: 420px;height: 100%;left: -420px;position: absolute;top: 0;}
.page_title::after{content: '';background:rgba(255,255,255,.5);width: 420px;height: 100%;right: -420px;position: absolute;top: 0;}

.intro_txt{margin-bottom: 20px; padding: 15px; font-size: 18px; font-weight: bold; text-align: center; position: relative;border: 1px solid #000}
