/* Large Tablet Devices */
@media only screen
and (max-width : 1100px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
  /*header*/
  header, #main_area, #bottom1, #bottom3, .footer_top{padding-left:10px;padding-right:10px}
  
  .rslides_tabs li{margin: 0;width: 12.3%;}
  .rslides_tabs li a{width: 100%;height: auto;}

  .contact_info{width: calc(100% - 406px);}
  .contact_info h2 span{font-size: 76px;}

}

@media only screen
and (max-width : 1024px) {

   /* Nav Area Sub-Menu Style */
   nav.page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right:20px;top:30px;position:absolute;}
   nav.page_nav ul li:hover > ul{display: none;}
  .slider{margin-top: 0 !important;}
}

@media only screen
and (max-width : 1010px) {

  /*Header Area*/
  header {padding: 0;text-align: center;}
  .head_container{position: static;width: 100%;height: auto;padding: 15px 10px;text-align: center;}
  .main_logo{margin: 0 auto}

  /*Nav Area*/
  nav.page_nav {clear: both; height:auto;margin:auto; padding:10px 10px 4px; transition:none; position:relative; width:100%; right:0; top:0; font-size: 0;}
  nav.page_nav ul{ margin:0; text-align:center;}
  nav.page_nav ul li{width: 32%; text-align: center; margin:0px 2px 6px !important;-webkit-box-shadow:inset 0px 2px 2px 0px rgba(255, 255, 255, 0.75); -moz-box-shadow:inset 0px 2px 2px 0px rgba(255, 255, 255, 0.75); box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.75);display: inline-block;}
  nav.page_nav ul li:after{content: "";}
  nav.page_nav ul li a{line-height: 40px;text-align: center;padding: 0 10px;}

  nav.page_nav ul li span{right:0;top:5px;}

  nav.page_nav ul ul, nav.page_nav ul ul li, nav.page_nav ul ul li a {width:100%;}
  nav.page_nav ul ul li{margin: 0 !important}

  /*Banner Area*/
  #banner{text-align:center; height:auto; margin:0; }
  #banner > .wrapper{height: auto;}
    .box_skitter, .rslides_tabs{display:none;}
    .rslides{display:block;}

    .slider{position: static;width: 100%;margin: 0;}
  .slider img{width: 150% !important;position: relative;left: -47%;max-width: inherit;}
  .bnr_info3{display: block;position: static;padding: 30px 10px;border-bottom: 1px solid #eee;}

    .non_ban figure{width: 190%;margin-left: -42%;}
    .page_title{font-size: 40px}

  /*Middle Area*/
  #middle {text-align:center; margin:0; padding:8px 8px 0;}
    .middle_con section{width:32%; margin:0 3px 8px!important;}

  /*Main Area*/
  #main_area{padding:0; margin:0;}
    main{float:none; margin: 0 auto; width:100%;padding: 30px 10px;border-bottom: 1px solid #eee;}
  .sidebar{display:none}

  /*Bottom Area*/
  #bottom1{padding: 30px 10px;height: auto;text-align: center;}
  .btm2_con{height: auto;margin-top: 30px;padding: 30px 10px;}
  .btm2_con:after, .btm2_img{display: none}
  .btm2_inner{float: none;width: 100%;margin: 0;}

  #bottom3{height: auto;padding: 30px 10px;text-align: center;background: #000;}
  .btm3_con{width: 100%;float: none;margin: 0 auto;}

  /*Footer Area*/
  footer{}
  .footer_top{height: auto;text-align: center;padding: 30px 10px;}
  .contact_info{width: 100%;float: none;margin-bottom: 30px;margin-top: 0;}
  .contact_info h2 span{font-size: 58px;}
  .ftr_box{float: none}

}

@media only screen
and (max-width : 800px) {
  /* Other */
  .thumb_right_dd, .thumb_left_dd{width: 300px}
  body.active{overflow: hidden;width:100%;height:100%;position:fixed;}
  .sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .main_logo figure{display: inline-block;}

  /* Header Area */
  .head_container{padding: 0}
  .main_logo{float: none; margin: 0;}
  .header_info{text-align: center; padding: 10px; float: none;}

  /* Nav Area */
  #nav_area{padding:25px 15px;background:#000;}
  .nav_toggle_button{display:block;}
  nav.page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;background: #e5aa33;transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;}
  nav.page_nav ul{margin: 0; padding: 0;}
  nav.page_nav ul li{width: 100%; display: block; margin: 0 auto !important;border: none;border-bottom: 1px solid #f8f8f8;text-align: left;box-shadow: none}
  nav.page_nav ul li:last-child{border-bottom: none;}
  nav.page_nav ul li a{line-height: 50px;padding: 0 10px}

  nav.page_nav ul ul{width:100%; position:relative;  transition:none;}
  nav.page_nav ul ul li {border:none; width:100%;}

  /* Toggle Style */
  .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;}
  .logo_slide_right {float:left;width: calc(100% - 90px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #000;position: relative;}
  .menu_slide_right .hamburger{position: absolute;top: 45%;right: 10px;transform: translateY(-50%);}
  /*Footer Area*/
  .footer_btm{padding: 24px 12px;height: auto;}
    .footer_nav ul{ margin:0; text-align:center; font-size: 0;}
    .footer_nav ul li{width: 32%; text-align: center; border:1px solid #e4d87f; margin:0px 2px 6px !important;}
    .footer_nav ul li:after{background: none;}
    .footer_nav ul li a{line-height: 50px;padding: 0 10px !important;}

    .copyright{margin-top: 24px;}

}

/* Smartphones */
@media only screen
and (max-width : 600px) {

  #wpadminbar {position: fixed!important;}
  /*Banner Area*/
  .mobi_ban{display: block;max-width: inherit;position: relative;width: 151%;left: -40%;}
  .non_ban figure{width: 310%;margin-left: -105%;}
  .page_title{position: static;background: #7d6829;color: #fff;font-size: 30px}

  /*Middle Area*/
  .middle_con section{margin:0 auto 8px!important; width: 100%}

  /*Bottom Area*/
  .btm1_con section{margin:0 auto 8px!important; width: 100%}

  /*Footer Area*/
  footer {padding-bottom: 45px;}
  .footer_comp{display:block; line-height: 28px;margin: 0;}
  .footer_comp:before, .footer_comp:after{display: none;}
  .footer_nav ul li{width:100%; margin: 0 auto 6px!important;}

  /*Others*/
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .thumb_left_dd, .thumb_right_dd, .thumb_center_dd, .slider{display: none;}
  main .bullet{padding-left:10px;}
  .back_top{background: url(../images/back_top.png) no-repeat center center rgba(0,0,0,0.98); position: fixed; bottom: 0; right: 0; width: 100%; height: 45px; cursor: pointer; z-index: 999;}
  .back_top:hover{opacity: .6;}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

}

@media only screen
and (max-width : 500px) {
  [class^="bnr_info"] h2{font-size: 7vw;}
  [class^="bnr_info"] h2 span{font-size: 16vw;}

  main .h1_title{font-size: 46px;}
  main .h1_title span{font-size: 23px;}
  main .h1_title small{font-size: 25px;}

  .btm1_con h2, .btm2_inner h3 span{font-size: 14vw;}

  .btm2_inner h3{font-size: 9vw;}
  .btm3_con h2{font-size:6vw}
  .btm3_con h2 span{font-size: 13vw;}

  .contact_info h2{font-size: 6vw;}
  .contact_info h2 span{font-size: 11vw;}
}
